.navbar-b {
    top: 0;
    width: 105%;
    height: fit-content;
    color: rgb(0,33,75);
    box-shadow: 10px 10px 8px #888888;
    display: inline-flex;
    position: fixed;
    z-index: 999;
  left: 10px;
}
.navbar-a {
  top: 0;
  width: 102%;
  height: fit-content;
  color: rgb(0,33,75);
  box-shadow: 10px 10px 8px #888888;
  display: inline-flex;
  position: fixed;
  z-index: 999;
}
.c {
  right: 20px;
}

@media only screen and (min-width: 996px) {

  .b {
    display: none;
  }
}



@media only screen and (max-width: 996px) {

  .a {
    display: none;
  }
}
.navbar-item {
    margin: 0 0.5rem ;
}

.navbar-item, .navbar-link, a {
    background-color: rgba(0, 0, 0, 0);
}

a:hover {
    text-shadow: 10px 12px 15px #888888;
    text-decoration: none; 
}
