


<nav class="  b row navbar-b navbar-expand-lg navbar-light bg-light">
  <div class="dropdown">
    <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">menu
      <span class="caret"></span></button>
    <ul class="dropdown-menu">
      <li ><a  class="col navbar-link" routerLink="/main">main</a></li>
      <li><a class="col navbar-link" routerLink="/logged">Trip List</a></li>
      <li><button type="button" class="c navbar-item login-button" (click)="open()">
        log in
      </button></li>
    </ul>
  </div>
</nav>

    <nav class=" a row navbar-a navbar-expand-lg navbar-light bg-light">
  <div class="collapse navbar-collapse">
    <ul class="col-8 navbar-nav">
      <li class="navbar-item"><a class="col navbar-link" routerLink="/main">Main</a></li>
      <li class="navbar-item"><a class="col navbar-link" routerLink="/logged">Trip List</a></li>
    </ul>
  </div>
  <button type="button" class="navbar-item login-button" (click)="open()">
    log in
  </button>
</nav>

