<div class="modal-dialog" role="document">
  <div class="modal-content">
    <div class="modal-header">
      <h5 class="modal-title">Login</h5>
    </div>

    <div class="modal-body">
      <input type="text" [(ngModel)]="username" placeholder="Username"> <br>
      <input type="password" [(ngModel)]="password" placeholder="Password">
    </div>

    <div class="modal-footer">
      <button type="button" class="btn btn-primary">Save changes</button>
    </div>

  </div>
</div>

