



<div class="modal-dialog" role="document">
  <div class="modal-content">
    <div class="modal-body">
  <div class="collapse navbar-collapse">
  <ul class="col-8 navbar-nav">
    <li class="navbar-item"><a class="col navbar-link" routerLink="/main">Main</a></li>
    <li class="navbar-item"><a class="col navbar-link" routerLink="/logged">Trip List</a></li>
  </ul>
</div>
<button type="button" class="navbar-item login-button" (click)="open()">
  log in
</button>
</div>
</div>
</div>
