
.modal-footer {
  height: 3rem;
}

.btn {
  position: absolute;
  right: 10px;
}

.navbar {
  top: 0;
  width: 101%;
  height: fit-content;
  color: rgb(0,33,75);
  box-shadow: 10px 10px 8px #888888;
  display: inline-flex;
  position: fixed;
  z-index: 999;
}

.navbar-item {
  margin: 0 0.5rem ;
}
