.card {
    height: 15rem;
    width: 15rem;
    margin: 5%; 
    border: 1px solid #000; 
    background-size: cover;
}   

.card p {
    padding: 10%;
}

.card-img-top {
    height: 80%;
}
.card-text {
    text-align: center;
}

ul {
    display: inline-flex;
    width: 80%;
    margin: auto;
  top: 50%;
}

li {
    background-size: 256px 256px;
    padding: 5%;
}

.trip-list {
    width: 80%;
    margin: auto;
    padding: 10%;
    top: 50%;
}

@media only screen and (max-width: 1080px) { 
    .card h3 {
        font-size: 13px;
    }

    .card {
        height: 6rem;
        width: 6rem;
        border: 1px solid #000; 
        background-size: cover;
        font-size: 8px;
        overflow-y: hidden; 
    }   

    .card p {
        padding: 0;
    }
}