<div class="row trip-list">
  <div *ngFor="let trip of trips.slice(0, trips.length / 2)" 
       [ngStyle]="{'background-image': 'url(' + trip.image + ')'}" class="col card">

    <h3 class="card-text">{{ trip.title }}</h3>
    <p>{{trip.description}}</p>

  </div>

  <div class="w-100"></div>

  <div *ngFor="let trip of trips.slice(trips.length / 2, trips.length)" 
       [ngStyle]="{'background-image': 'url(' + trip.image + ')'}" class="col card"> 

    <h3 class="card-text">{{ trip.title }}</h3>
    <p>{{trip.description}}</p>

  </div>
</div>