.carousel { 
  position: relative;
  margin-top: 100px;
}

.carousel-inner {
    max-height: 400px;
    display: block;
    position: relative; 
}
.carousel-caption{
  top: 20%;

}
@media only screen and (min-width: 996px) {

  img {
    width: 1500px;
    height: 600px;
    margin: auto;
    align-self: auto;
  }
}

@media only screen and (max-width: 995px) {

  img {
    right: 0px;
    width: 100%;
    height: 100%;
    margin: auto;
    align-self: auto;
  }
}
.carousel-control {
    height: 100%;
    width: 24px;
    background-color: #333;
    position: relative;
    display: block;
}
