<div class="row">
    <div id="marketingSlider" class="carousel slide" data-ride="carousel">

      <!-- Wrapper for slides -->
      <div class="carousel-inner">
        <div class="carousel-item" [class.active]="sliderImageIndex === 0">
          <img class="d-block img-fluid" src="/../assets/slider-images/LosAngelesRightSize.jpg">
          <div class="carousel-caption d-none d-md-block">
            <h3>Los Angeles</h3>
            <p>LA is always so much fun!</p>
          </div>
        </div>

        <div class="carousel-item" [class.active]="sliderImageIndex === 1">
          <img class="d-block img-fluid" src="/../assets/slider-images/ChicagoRightSize.jpg">
          <div class="carousel-caption d-none d-md-block">
            <h3>Chicago</h3>
            <p>Thank you, Chicago!</p>
          </div>

        </div>

        <div class="carousel-item" [class.active]="sliderImageIndex === 2">
          <img class="d-block img-fluid" src="/../assets/slider-images/newYork.jpg">
          <div class="carousel-caption d-none d-md-block">
            <h3>New York</h3>
            <p>We love the Big Apple!</p>
          </div>
        </div>
      </div>
      <a class="carousel-control-prev" role="button" data-slide="prev" (click)="changeSliderImage('left')">
        <span class="carousel-control-prev-icon"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="carousel-control-next" role="button" data-slide="next" (click)="changeSliderImage('right')">
        <span class="carousel-control-next-icon"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>

</div>
